.button {
    position: relative;
    width: 350px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}

.button p{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    translate: -50% -50%;
    color: rgb(213, 197, 184);
}

.button .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.button .block{
    width: 100px;
    height: 80px;
    background-color: rgb(var(--main-color));
}

.button .block.left{
    margin-right: 80px;
}

.button .middle {
    border-width: 10px;
    top: 50%;
    left: 50%;
}

.button .middle.up{
    border-color: transparent transparent rgb(var(--main-color)) transparent;
    translate: -50% calc(-50% - 20px);
}

.button .middle.right{
    border-color: transparent transparent transparent rgb(var(--main-color));
    translate: calc(-50% + 20px) -50%;
}

.button .middle.down{
    border-color: rgb(var(--main-color)) transparent transparent transparent;
    translate: -50% calc(-50% + 20px);
    animation: middleDown 2s forwards;
    animation-delay: 2250ms;
}

.button .middle.left{
    border-color: transparent rgb(var(--main-color)) transparent transparent;
    translate: calc(-50% - 20px) -50%;
    animation: middleLeft 2s forwards;
    animation-delay: 2250ms;
}

@keyframes middleLeft {
    0%{
        z-index: 2;
        border-color: transparent #4D190C transparent transparent;
    }
    
    30%{
        opacity: 1;
        scale: 1;
        rotate: y 50deg;
    }
    
    100%{
        border-color: transparent #4D190C transparent transparent ;
        translate: calc(-50% - 20px - 150px) -50%;
        rotate: y 90deg;
        opacity: 0;
        scale: 0.5;
    }
}

@keyframes middleDown {
    0%{
        z-index: 2;
        border-color: #4D190C transparent transparent transparent;
        rotate: x -50deg;
    }

    30%{
        opacity: 1;
        scale: 1;
    }
    
    100%{
        border-color: #4D190C transparent transparent transparent ;
        translate: -50% calc(-50% + 20px + 150px);
        rotate: x -90deg;
        opacity: 0;
        scale: 0.5;
    }
}

.button .middle2 {
    border-width: 14px;
    top: 50%;
    left: 50%;
}

.button .middle2.up{
    border-color: transparent transparent rgb(var(--main-color)) transparent;
    translate: calc(-50% + 20px) calc(-50% - 20px);
    rotate: 45deg;
}

.button .middle2.right{
    border-color: transparent transparent transparent rgb(var(--main-color));
    translate: calc(-50% + 20px) calc(-50% + 20px);
    rotate: 45deg;
}

.button .middle2.down{
    border-color: rgb(var(--main-color)) transparent transparent transparent;
    translate: calc(-50% - 20px) calc(-50% + 20px);
    rotate: 45deg;
}

.button .middle2.left{
    border-color: transparent rgb(var(--main-color)) transparent transparent;
    translate: calc(-50% - 20px) calc(-50% - 20px);
    rotate: 45deg;
}

.button .middle3 {
    border-width: 20px;
    top: 50%;
    left: 50%;
}

.button .middle3.up{
    border-color: transparent transparent rgb(var(--main-color)) transparent;
    translate: -50% calc(-50% - 40px);
}

.button .middle3.right{
    border-color: transparent transparent transparent rgb(var(--main-color));
    translate: calc(-50% + 40px) -50%;
}

.button .middle3.down{
    border-color: rgb(var(--main-color)) transparent transparent transparent;
    translate: -50% calc(-50% + 40px);
}

.button .middle3.left{
    border-color: transparent rgb(var(--main-color)) transparent transparent;
    translate: calc(-50% - 40px) -50%;
}

.button .middle4 {
    border-width: 29px;
    top: 50%;
    left: 50%;
}

.button .middle4.up{
    border-color: transparent transparent rgb(var(--main-color)) transparent;
    translate: calc(-50% + 40px) calc(-50% - 40px);
    rotate: 45deg;
}

.button .middle4.right{
    border-color: transparent transparent transparent rgb(var(--main-color));
    translate: calc(-50% + 40px) calc(-50% + 40px);
    rotate: 45deg;
}

.button .middle4.down{
    border-color: rgb(var(--main-color)) transparent transparent transparent;
    translate: calc(-50% - 40px) calc(-50% + 40px);
    rotate: 45deg;
}

.button .middle4.left{
    border-color: transparent rgb(var(--main-color)) transparent transparent;
    translate: calc(-50% - 40px) calc(-50% - 40px);
    rotate: 45deg;
}

.button .center {
    border-width: 10px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.button .center.up{
    border-color: transparent transparent rgb(var(--main-color)) transparent;
    animation: centerUp 2s forwards;
    animation-delay: 2000ms;
}

.button .center.right{
    border-color: transparent transparent transparent rgb(var(--main-color));
    animation: centerRight 2s forwards;
    animation-delay: 2000ms;
}

.button .center.down{
    border-color: rgb(var(--main-color)) transparent transparent transparent;
    animation: centerDown 2s forwards;
    animation-delay: 2000ms;
}

.button .center.left{
    border-color: transparent rgb(var(--main-color)) transparent transparent;
    animation: centerLeft 2s forwards;
    animation-delay: 2000ms;
}

@keyframes centerDown {
    0%{
        z-index: 2;
        border-color: #4D190C transparent transparent transparent;
    }

    30%{
        rotate: y 50deg;
        opacity: 1;
        scale: 1;
    }
    
    100%{
        border-color: #4D190C transparent transparent transparent ;
        translate: -50% -150px;
        rotate: y 90deg;
        opacity: 0;
        scale: 0.5;
    }
}

@keyframes centerUp {
    0%{
        z-index: 2;
        border-color: transparent transparent #4D190C transparent;
    }

    30%{
        rotate: y 50deg;
        opacity: 1;
        scale: 1;
    }
    
    100%{
        border-color: transparent transparent #4D190C transparent ;
        translate: -50% 150px;
        rotate: y 90deg;
        opacity: 0;
        scale: 0.5;
    }
}

@keyframes centerLeft {
    0%{
        z-index: 2;
        border-color: transparent #4D190C transparent transparent;
    }

    30%{
        rotate: y 50deg;
        opacity: 1;
        scale: 1;
    }
    
    100%{
        border-color: transparent #4D190C transparent transparent;
        translate: 150px -50%;
        rotate: y 90deg;
        opacity: 0;
        scale: 0.5;
    }
}

@keyframes centerRight {
    0%{
        z-index: 2;
        border-color: transparent transparent transparent #4D190C;
    }

    30%{
        rotate: y 50deg;
        opacity: 1;
        scale: 1;
    }
    
    100%{
        border-color: transparent transparent transparent #4D190C;
        translate: -150px -50%;
        rotate: y 90deg;
        opacity: 0;
        scale: 0.5;
    }
}